<p [formGroup]="multiSelectForm">
    <mat-form-field>
        <mat-select formControlName="skillsMultiCtrl" placeholder="Skills" multiple #multiSelect>
            <mat-option>
                <ngx-mat-select-search formControlName="skillsMultiFilterCtrl" placeholder="Skills"></ngx-mat-select-search>
            </mat-option>
            
            <mat-option *ngFor="let skill of filteredSkillsMulti | async" [value]="skill">
            {{skill.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </p>