/* Structure */
  
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

#content {
  width: 80%;
  margin: 0 auto;   

}

/* Allow column resizing */
.mat-table {
  display: block;
  overflow: auto;
  max-width: 100%;
  border-collapse: separate;
}

.mat-header-cell,
.mat-cell {
  flex: 1;
  min-width: 100px; /* Set a minimum width for columns */
  padding: 10px;
  text-align: left;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  z-index: 9999; /* Make sure it's above other content */
}

.table{
  max-height: 600px;
  overflow-y: auto;
}