<h2 mat-dialog-title>User Information</h2>
<mat-dialog-content>
  <form>
    <div class="row">
        <mat-form-field class="full-width">
            <input matInput placeholder="First Name">
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <input matInput placeholder="Last Name">
        </mat-form-field>
    </div>
    
    <div class="row">
        <mat-form-field  class="full-width">
            <input matInput type="email" placeholder="Email">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field>
            <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
      
          <mat-form-field>
            <input matInput [matDatepicker]="completionDatePicker" placeholder="Completion Date" >
            <mat-datepicker-toggle matSuffix [for]="completionDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #completionDatePicker></mat-datepicker>
          </mat-form-field> 

    </div>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button cdkFocusInitial>Add Skills</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>


