<h2 mat-dialog-title>User Information</h2>
<mat-dialog-content>
  <form [formGroup]= "myForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <mat-form-field class="full-width">
            <input matInput type="text" formControlName="firstname" placeholder="First Name">
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <input matInput type="text" formControlName="lastname" placeholder="Last Name">
        </mat-form-field>
    </div>
    
    <div class="row">
        <mat-form-field  class="full-width">
            <input matInput type="email" formControlName="email" type="email" placeholder="Email">
        </mat-form-field>
    </div>

    <div class="row">

        <mat-form-field>
            <mat-label>Choose start date</mat-label>
            <input matInput formControlName="startdate" [matDatepicker]="startdatepicker">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="startdatepicker"></mat-datepicker-toggle>
            <mat-datepicker #startdatepicker></mat-datepicker>
        </mat-form-field>
        
    
        <mat-form-field>
            <mat-label>Choose completion date</mat-label>
            <input matInput formControlName="enddate" [matDatepicker]="enddatepicker">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="enddatepicker"></mat-datepicker-toggle>
            <mat-datepicker #enddatepicker></mat-datepicker>
        </mat-form-field>

    </div>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button cdkFocusInitial type="submit" [disabled]="myForm.invalid">Add Skills</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>


