
<p [formGroup]="bankMultiForm">
  <mat-form-field>
    <mat-select formControlName="bankMultiCtrl" placeholder="Banks" multiple #multiSelect>
        <mat-option>
            <ngx-mat-select-search formControlName="bankMultiFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        
        <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
        {{bank.name}}
        </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<!-- <p>
  Selected Banks:
</p>
<ul *ngFor="let bank of bankMultiForm.get('bankMultiCtrl')?.value">
  <li>{{ bank.name }}</li>
</ul> -->