.centered-header {
    display: flex;
    justify-content: center;
  }
  
  .centered-header h1 {
    font-size: 2rem;
  }
  
  .small-chart {
    width: 500px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
  }